

.article{
  height:100%;
  width:100%;
  background-size: cover;
  background-position: 50%;
  text-decoration: none;
  // position: absolute;
  @include tablet{
    width:50%;
    flex-basis: wrap;
  }
  @include desktop{
    width:25%;
    flex-basis: wrap;
  }
}




.textpict{
  height:420px;
  width:100%;
  position:cover;
  @include tablet{
    width:50%;
    flex-wrap: wrap;
  }
  @include desktop{
    width:25%;
    flex-flow: wrap;
  }
}

.selectionchoice P{
  font-size:12px;
  @include desktop{
    justify-content: left;
    text-justify: left;
    margin-left:10px;
   
  }
}

.loader{
  height:100%;
  width:4px;
}

.storiescontainer{
  display: flex;
  
}

.article{
  position:relative;
}

  .words{
    color:$font-color;
    line-height: 1.5rem;
    font-size:$font-size;
    font-family:$font-family;
    position: absolute;
    bottom:0;
    background:rgba(0,0,0,0.6);
  } 


a{
  text-decoration:none;
}

