// .stories{
//   display:grid;
//   grid-template-rows: repeat(12,1fr);
// }

.article{
  height:auto;
  width:100%;
  background-size: cover;
  background-position: 50%;
}

.textpict{
  height:420px;
}

.article{
  height:100%;
}

.words{
  height:30%;
}
