.sitefooter{
  display:flex;
  justify-content: center;
  padding:4rem;
  color:#c2c2c2;
  font-family: $font-family;
  font-size:14px;

}

footer span{
  text-transform:uppercase;
  font-size: 14px;
  font-family:$font-family;
}