.headercontainer{
  display:flex;
  flex-flow: column wrap;
  height:90vh;
  justify-content: center;
  align-items:center;
  padding:0.75rem;

}

.logo{
  text-align: center;
  padding:0.75rem;
  margin:0.5rem;  
}

option{
  display:block;
  height:100%;
  padding:1rem;
}

select{
  border-radius:2rem;
  margin:1rem;
  padding:2rem;
  font-size: $font-size;
}

.headercollapse{
  height:auto;
}

.logocollapse{
  height:auto;
}

.selectioncollapse{
  height:auto;
}
